html, body {
    background-color: azure;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: calc(100% - 20px);
    background-color:antiquewhite;
    padding: 10px;
}
.site-title {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.site-logo-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dowload-button {
    background-color: rgb(132, 175, 255);
    border: none;
    padding: 8px;
    font-size: 20px;
    padding-inline: 20px;
    border-radius: 25px;
    font-weight: bold;
    color: #454545;
    margin-inline: 5px;
}
.dowload-button:hover {
    background-color: rgb(149, 186, 255);
    scale: 1.1;
}
.download-box {
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(172, 198, 255);
    width: 90%;
    max-width: 450px;
    margin: 5px;

}
.donwload-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.download-title {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #3b3b3b;
}


.fishky-slider {
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(149, 186, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 90%;
    max-width: 450px; 
    margin: 0 auto;
}

.nav-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
}

.nav-icon:hover {
    transform: scale(1.1);
}

.slide-container {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

#current-slide {
    width: 100%;
    display: block;
    transition: opacity 0.4s ease-in-out; /
}

.fade-out {
    opacity: 0;
}
.normal-text {
    font-family: sans-serif;
    font-size: 15px;
}
.footer {
    padding: 0px;
    color: #454545;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    background-color: rgb(149, 186, 255);;
    margin-top: 20px;
    width: 90%;
    padding: 10px;
    max-width: 450px;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
}
.btn-on-footer {
    height: 30px; width: 140px; background-color: rgb(58, 58, 58); border-radius: 15px; padding: 5px;
}
.btn-on-footer:hover {
    background-color: rgb(75, 75, 75);
    scale: 1.1;
}
